.header-top {
    background-color: $white;
    position: relative;
    z-index: 2;
    &__row {
        display: flex;
        justify-content: space-between;
    }
}

.menu-top {
    height: 35px;

    .is-active {
        color: $blue;
    }

    &__item {
        display: inline-block;
        position: relative;

        &:hover {
            .dropdown-menu {
                opacity: 1;
                top: 45px;
                visibility: visible;
            }
        }
    }

    &__link {
        font-size: 13px;
        line-height: 35px;
        padding: 5px;
        transition: color 0.15s;

        &:hover {
            color: $blue;
        }
    }

    &__icon {
        margin-right: 5px;
        font-size: 14px;
    }
}
