// Convert form svg to base64
@function str-replace-svg($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace+str-replace-svg(str-slice($string, $index + str-length($search)),
      $search,
      $replace);
  }

  @return $string;
}

@function url-encode-svg($string) {
  $map: ("%": "%25",
      "<": "%3C",
      ">": "%3E",
      " ": "%20",
      "!": "%21",
      "*": "%2A",
      "'": "%27",
      '"': "%22",
      "(": "%28",
      ")": "%29",
      ";": "%3B",
      ":": "%3A",
      "@": "%40",
      "&": "%26",
      "=": "%3D",
      "+": "%2B",
      "$": "%24",
      ",": "%2C",
      "/": "%2F",
      "?": "%3F",
      "#": "%23",
      "[": "%5B",
      "]": "%5D",
    );
  $new: $string;

  @each $search,
  $replace in $map {
    $new: str-replace-svg($new, $search, $replace);
  }

  @return $new;
}

@function inline-svg($string) {
  @return url("data:image/svg+xml;charset=utf8,#{url-encode-svg($string)}");
}


@function icon-search($color: #000) {
  @return inline-svg('<?xml version="1.0"?><svg enable-background="new 0 0 32 32" id="Editable-line" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="14" cy="14" fill="none" id="XMLID_42_" r="9" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><line fill="none" id="XMLID_44_" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" x1="27" x2="20.366" y1="27" y2="20.366"/></svg>');
}

@function icon-heart($color: #eee) {
  @return inline-svg('<?xml version="1.0"?><svg height="24" version="1.1" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><g transform="translate(0 -1028.4)"><path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#{$color}"/></g></svg>');
}

@function icon-facebook($color: #000) {
  @return inline-svg('<?xml version="1.0"?><!DOCTYPE svg  PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x38_0-facebook"><g><g><path d="M375.301,181.236h-89.475v-59.813c0-16.51,13.359-29.908,29.828-29.908h29.824V16.75h-59.652     c-49.42,0-89.475,40.162-89.475,89.718v74.768h-59.654V256h59.654v239.25h89.475V256h59.652L375.301,181.236z M375.301,181.236" style="fill:#{$color};"/></g></g></g><g id="Layer_1"/></svg>');
}

@function icon-twitter($color: #000) {
  @return inline-svg('<?xml version="1.0"?><!DOCTYPE svg  PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg height="512px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x32_4-twitter_x2C__tweet"><g><g><path d="M494.604,107.636c-17.746,7.809-36.66,12.984-56.371,15.492     c20.283-12.14,35.76-31.224,43.035-54.22c-18.91,11.306-39.783,19.293-62.033,23.747c-17.959-19.174-43.547-31.045-71.461-31.045     c-54.166,0-97.768,44.085-97.768,98.126c0,7.776,0.656,15.248,2.268,22.372c-81.336-3.982-153.304-43.065-201.651-102.611     C42.18,94.177,37.23,110.988,37.23,129.08c0,33.973,17.447,64.09,43.458,81.521c-15.718-0.294-31.14-4.868-44.203-12.073v1.074     c0,47.667,33.914,87.262,78.379,96.381c-7.964,2.188-16.64,3.232-25.649,3.232c-6.258,0-12.586-0.361-18.521-1.674     c12.68,38.85,48.647,67.41,91.416,68.334c-33.286,26.108-75.549,41.838-121.299,41.838c-8.021,0-15.717-0.353-23.414-1.342     c43.336,28.021,94.697,44.02,150.085,44.02c180.02,0,278.448-149.53,278.448-279.14c0-4.338-0.156-8.527-0.361-12.681     C464.988,144.752,481.301,127.498,494.604,107.636L494.604,107.636z M494.604,107.636" style="fill:#{$color};"/></g></g></g><g id="Layer_1"/></svg>');
}

@function icon-youtube($color: #000) {
  @return inline-svg('<?xml version="1.0"?><!DOCTYPE svg  PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M501.299,132.766c-5.888,-22.03 -23.234,-39.377 -45.264,-45.264c-39.932,-10.701 -200.037,-10.701 -200.037,-10.701c0,0 -160.105,0 -200.038,10.701c-22.025,5.887 -39.376,23.234 -45.264,45.264c-10.696,39.928 -10.696,123.236 -10.696,123.236c0,0 0,83.308 10.696,123.232c5.888,22.03 23.239,39.381 45.264,45.268c39.933,10.697 200.038,10.697 200.038,10.697c0,0 160.105,0 200.037,-10.697c22.03,-5.887 39.376,-23.238 45.264,-45.268c10.701,-39.924 10.701,-123.232 10.701,-123.232c0,0 0,-83.308 -10.701,-123.236Z" style="fill:#{$color};fill-rule:nonzero;"/><path d="M204.796,332.803l133.018,-76.801l-133.018,-76.801l0,153.602Z" style="fill:#fff;fill-rule:nonzero;"/></g></svg>');
}

@function icon-cart($color: #000) {
  @return inline-svg('<?xml version="1.0" ?><svg data-name="Layer 18" id="Layer_18" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#{$color};}</style></defs><title/><path class="cls-1" d="M47.6,14.8A2,2,0,0,0,46,14H13.2L11,3.6A2,2,0,0,0,9,2H4A2,2,0,0,0,4,6H7.4L14,37.4A2,2,0,0,0,16,39h1A5,5,0,1,0,23,39H33A5,5,0,1,0,39,39h1a2,2,0,0,0,1.9-1.5l6-21A2,2,0,0,0,47.6,14.8ZM20,44a1,1,0,1,1,1-1A1,1,0,0,1,20,44Zm16,0a1,1,0,1,1,1-1A1,1,0,0,1,36,44Zm2.5-9H17.6L14,18H43.3Z"/></svg>');
}
