.grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1 0 18%; 
    margin: 5px;
    // background: tomato;
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }