*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  z-index: 0;
  background-color: transparent;
  box-sizing: border-box;
}

a:link,
a:active,
a:visited,
a:hover {
  color: rgba(13, 82, 214, 1);
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
