.table {
	border-collapse: collapse;
	width: 100%;

	td {
		border: 1px solid $gray;
		padding: 8px;
	}
	th {
		border: 1px solid $gray;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
	}
	tr {
		&:nth-child(even) {
			background-color: $gray-200;
		}
		&:hover {
			background-color: $light;
		}
	}
}
