.tabs {
    position: relative;

    & input[name="tab"] {
        display: none;
    }

    &__nav {
        display: flex;
        border-radius: 3px;
        margin-bottom: 20px;
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: visible;
        overflow-y: visible;
    }

    &__name {
        border: 0;
        cursor: pointer;
        display: table-cell;
        line-height: 3;
        justify-content: center;
        white-space: normal;
        padding: 0 15px;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        width: 150px;
        background-color: $gray-300;
    }

    &__name:hover {
        background-color: $blue;
        color: $white;
    }

    &__content {
        min-height: 250px;
        height: 100%;
        left: 0;
        padding: 0.5em;
        position: absolute;
        top: 0;
        transform: scale(0);
        overflow: hidden;
    }
}

@for $i from 1 through 4 {
    #tab_#{$i}:checked ~ nav [for="tab_#{$i}"] {
        background-color: $blue;
        color: $white;

        &::after {
            content: "";
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 13px solid $blue;
            bottom: -40px;
            height: 0;
            left: -50%;
            position: relative;
            width: 0;
        }
    }

    #tab_#{$i}:checked ~ .tabs__content--#{$i} {
        display: block;
        left: 0;
        position: relative;
        top: 1em;
        transform: scale(1);
        transition: transform 0.2s ease-out;
    }
}
