$black: #222;
$black-200: rgba(0, 0, 0, 0.2);

$blue:rgb(25, 104, 250);

$blue-300: #00a9df;
$blue-400: rgba(15, 58, 141, 1);
$blue-600: rgba(58, 71, 84, 1);

$red: #e12f2f;
$purple: purple;
$yellow: yellow;
$orange: orange;
$white: #fff;
$white-200:rgb(244 244 244);

$gray: #999;
$gray-100: rgba(238, 238, 238, 1);
$gray-200: #eee;
$gray-300: #e2e2e2;

$color-error: $red;