.footer-copy {
    background: #3a4754;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    color: rgba(139, 145, 152, 1);

    &__left {
        float: left;
    }

    &__right {
        float: right;

        &--icon {
            font-size: 24px;
            margin-left: 10px;
        }
    }
}