.footer-copy {
    background: $blue-600;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    color: $gray-200;

    &__left {
        float: left;
    }

    &__right {
        float: right;

        &--icon {
            font-size: 24px;
            margin-left: 10px;
        }
    }
}