.footer-icon {
    background: $gray-100;
    padding: 15px;
    text-align: center;

    &__item  {
        background: $blue;
        border-radius: 99px;
        color: $white;
        border: 0;
        height: 40px;
        width: 40px;
        font-size: 20px;
        margin: 0 10px;
        padding-top: 8px;
    }
}
