.footer-search {
    color: rgba(105, 105, 115, 1);

    &__group {
        margin-bottom: 10px;
    }

    .search {
        &-input {
            padding: 6px;
            margin: 10px 0;
            font-size: 17px;
            border: 1px solid #e2e2e2;
            border-right: 0;
            border-radius: 3px;
        }

        &-btn {
            padding: 9px;
            margin: 10px 0;
            margin-right: 16px;
            background: #0f3a8d;
            font-size: 14px;
            border-radius: 3px;
            color: #fff;
            position: absolute;
            cursor: pointer;
            border: 0;
        }

        &-check {
            display: flex;

            &__name {
                font-size: 11px;
                margin-left: 5px;
            }
        }
    }
}
