.footer-icon {
    background: rgba(238, 238, 238, 1);
    padding: 15px;
    text-align: center;

    &__item  {
        background: rgba(13, 82, 214, 1);
        border-radius: 99px;
        color: white;
        border: 0;
        height: 40px;
        width: 40px;
        font-size: 20px;
        margin: 0 10px;
        padding-top: 8px;
    }
}
