.header {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}

